<div>
	<div style="position:absolute">
		<img width=800 height=600 [src]=scenes.scenes[current].img>
    </div>
		<div style="position:absolute; 
                top:350px; 
                left:450px;
                width:320px;
                height:300px;
                opacity:0.5;
                background-color:black;">
			<div *ngFor="let link of scenes.scenes[current].links" style="margin-left:30px">
				<a href="#" (click)=update(link.jumpto)>
					<p> {{ link.txt }} </p>
				</a>
			</div>
		</div>
	</div>